<a href="https://colab.research.google.com/github/0902338471/Coder_School_Assigment/blob/master/Copy_of_DAwP_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://i.imgur.com/0AUxkXt.png)

# SF Salaries Exercise 

Explore San Francisco city employee salary data.

## Overview

One way to understand how a city government works is by looking at who it employs and how its employees are compensated. This data contains the names, job title, and compensation for San Francisco city employees on an annual basis from 2011 to 2014.



Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

## Resourses

[Pandas API Reference](https://pandas.pydata.org/pandas-docs/stable/api.html)

[NumPy Reference](https://docs.scipy.org/doc/numpy/reference/)

[Visualization with Seaborn](https://jakevdp.github.io/PythonDataScienceHandbook/04.14-visualization-with-seaborn.html)

**Import libraries**

In [0]:
#import necessary library
import numpy as np
import seaborn as sns
import pandas as pd

**Read `Salaries.csv` as a dataframe called `sal`.**

In [0]:
#read the csv file 
link = "https://s3-ap-southeast-1.amazonaws.com/intro-to-ml-minhdh/Salaries.csv"
sal = pd.read_csv(link)

**Check the head of the DataFrame.**

In [83]:
#use head method to top 5 rows
sal.head()

   Id       EmployeeName  ...         Agency  Status
0   1     NATHANIEL FORD  ...  San Francisco     NaN
1   2       GARY JIMENEZ  ...  San Francisco     NaN
2   3     ALBERT PARDINI  ...  San Francisco     NaN
3   4  CHRISTOPHER CHONG  ...  San Francisco     NaN
4   5    PATRICK GARDNER  ...  San Francisco     NaN

[5 rows x 13 columns]


**Use the .info() method to find out how many entries there are.**

In [84]:
#use info method to list out information of data
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

Keyword: [mean](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.mean.html)

In [85]:
#get the average of BasePay
print("Average of BasePay is:",sal["BasePay"].mean())

Average of BasePay is: 66325.44884050643

**What is the lowest and highest amount of BasePay?**

Keyword: 
[min](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.min.html) , 
[max](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.max.html)

In [87]:
#get the min value of BasePay column
print("Lowest amount of BasePay is:",sal["BasePay"].min())

Lowest amount of BasePay is: -166.01

In [88]:
#get the max value of BasePay column
print("Highest amount of BasePay is",sal["BasePay"].max())

Highest amount of BasePay is 319275.01

**How about OvertimePay in the dataset? What is the average, lowest, highest amount?**

In [89]:
#get the average of OvertimePay column
print("Average of OvertimePay is:",sal["OvertimePay"].mean())
#get the min value of OvertimePay column
print("Min of OvertimePay is:",sal["OvertimePay"].min())
#get the max value of OvertimePay column
print("Max of OvertimePay is:",sal["OvertimePay"].max())

Average of OvertimePay is: 5066.059886444622
Min of OvertimePay is: -0.01
Max of OvertimePay is: 245131.88

**What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).**

In [90]:
#get the rows that has employee name = JOSEPH DRISCOLL(also check case sensitive)
josephrows=sal.loc[sal["EmployeeName"].str.lower()=="joseph driscoll"]
#get job title of this person
print("Job title of JOSEPH DRISCOLL:")
print(josephrows["JobTitle"])

Job title of JOSEPH DRISCOLL:
24       CAPTAIN, FIRE SUPPRESSION
36198    Captain, Fire Suppression
Name: JobTitle, dtype: object

In [92]:
# Now try to select Employees who have name "GARY JIMENEZ"
#get the rows that has employee name = GARY JIMENEZ(also check case sensitive)
garyrows=sal.loc[sal["EmployeeName"].str.lower()=="gary jimenez"]
#get job title of this person
print("Job title of GARY JIMENEZ:")
print(garyrows["JobTitle"])

Job title of GARY JIMENEZ:
1    CAPTAIN III (POLICE DEPARTMENT)
Name: JobTitle, dtype: object

In [93]:
sal.head()

   Id       EmployeeName  ...         Agency  Status
0   1     NATHANIEL FORD  ...  San Francisco     NaN
1   2       GARY JIMENEZ  ...  San Francisco     NaN
2   3     ALBERT PARDINI  ...  San Francisco     NaN
3   4  CHRISTOPHER CHONG  ...  San Francisco     NaN
4   5    PATRICK GARDNER  ...  San Francisco     NaN

[5 rows x 13 columns]

**How much does JOSEPH DRISCOLL make (including benefits)?**

In [95]:
#get the sum of TotalPayBenefits column of JOSEPH DRISCOLL
print("JOSEPH DRISCOLL make ",josephrows["TotalPayBenefits"].sum())

JOSEPH DRISCOLL make  602159.7

**What is the name of highest paid person (including benefits)?**

In [103]:
#get the index of row of the highest paid person
highestpaidPersonindex=sal["TotalPayBenefits"].idxmax()
#get the employee name of that index row
print(sal.loc[highestpaidPersonindex]["EmployeeName"],"is the highest paid person")

NATHANIEL FORD is the highest paid person

**What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [106]:
#get the index of row of the lowest paid person
lowestpaidPersonindex=sal["TotalPayBenefits"].idxmin()
#get the employee name of that index row
print(sal.loc[lowestpaidPersonindex]["EmployeeName"],"is the lowest paid person")
print("He/She is paid:",sal.loc[lowestpaidPersonindex]["TotalPayBenefits"])
print("There is one thing strange:The value that he/she is paid is negative!!")

Joe Lopez is the lowest paid person
He/She is paid: -618.13
There is one thing strange:The value that he/she is paid is negative!!

**What was the average (mean) BasePay of all employees per year? (2011-2014) ?**
Keyword: _groupby_

In [108]:
#group sal by year 
yeargroup=sal.groupby('Year')
#calculating the mean of Base Pay of each year
print(yeargroup.agg(np.mean)["BasePay"])

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

**How many unique job titles are there?**

Keyword: _unique, nunique_

In [110]:
#get list of unique job titles
uniqueJob=sal['JobTitle'].unique()
#print size of uniqueJob
print("There are ",len(uniqueJob)," unique job titles")

There are  2159  unique job titles

**What are the top 5 most common jobs?**

Keyword: *value_counts*

In [115]:
#count number of times each type of job titles appear and sort it in descending order
jobTitleCount=sal['JobTitle'].value_counts().sort_values(ascending=False)
#print top 5 most common jobs
print(jobTitleCount.head())

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

**How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

In [116]:
#get rows that has year= 2013
jobtitle2013=sal.loc[sal['Year']==2013]
#count number of times each type of job titles appear
jobtitle2013Count=jobtitle2013['JobTitle'].value_counts()
print(jobtitle2013Count)
#get job title that occur only one in 2013
print(jobtitle2013Count.loc[jobtitle2013Count.value_counts()==1])

Transit Operator                  2295
Special Nurse                     1445
Registered Nurse                  1231
Public Svc Aide-Public Works       859
Custodian                          789
Firefighter                        785
Police Officer 3                   774
Patient Care Assistant             676
Recreation Leader                  654
Deputy Sheriff                     653
Police Officer                     503
Public Service Trainee             439
Police Officer 2                   383
Attorney (Civil/Criminal)          371
Sergeant 3                         361
Porter                             360
Eligibility Worker                 355
General Laborer                    343
Gardener                           304
EMT/Paramedic/Firefighter          297
Senior Clerk                       288
Parking Control Officer            284
Library Page                       276
Senior Eligibility Worker          262
Senior Clerk Typist                251
Clerk                              248
Licensed Vocational Nurse          248
Stationary Engineer                233
Nurse Practitioner                 231
PS Aide to Prof                    218
                                  ...
Civil Case Settlmnt Specialist       1
Senior Plan Checker                  1
Controller                           1
Supervising Parts Storekeeper        1
Training Technician                  1
Sr Light Rail Veh Equip Eng          1
Window Cleaner Supervisor            1
Materials/Supplies Supervisor        1
District Attorney                    1
Pr Investigator, Tax Collector       1
Performance Analyst I                1
Principal Museum Preparator          1
Payroll Supervisor                   1
Secretary, Library Commission        1
IS Operator-Analyst                  1
Chf Victim/Witness Invstgtor         1
Wire Rope Cable Maint Sprv           1
Airport Mechanical Maint Sprv        1
Treasurer                            1
Director, Fiscal Services            1
Mgr Museum Security Services         1
Sr General Utility Mechanic          1
Chief Fire Alarm Dispatcher          1
Victim & Witness Technician          1
Mental Health Hearing Officer        1
Employment & Training Spec 6         1
Sheet Metal Wrk Supervisor 2         1
Assoc Musm Cnsrvt, AAM               1
IS Technician Assistant              1
Secretary, Comm on the Environ       1
Name: JobTitle, Length: 1051, dtype: int64

IndexingError: ignored

**How many people have the word Chief in their job title?**

## Data Visualization

**Implement seaborn's countplot with x='Year'**

**Implement seaborn's distplot for BasePay of Year 2011**

**How about other Year**

## Bonus

**Visualize top 5 Jobs with BasePay, Benefits and OvertimePay**

Keyword: *index, isin, groupby, mean, plot*

                                    BasePay      Benefits   OvertimePay
JobTitle
Police Officer 3              108508.662621  32829.713693  16418.062615
Public Svc Aide-Public Works    8091.876070   1379.748050     60.017744
Registered Nurse              102650.396486  35950.834170   4204.840575
Special Nurse                  29929.166718   3210.342240    651.723372
Transit Operator               51772.154465  27355.597533  11143.260866

**Fun Fact: Is there a correlation between length of the Job Title string and Salary?**

*Hint: corr()*

# Great Job!