<a href="https://colab.research.google.com/github/0902338471/Coder_School_Assigment/blob/master/DAwP_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://i.imgur.com/0AUxkXt.png)

# Assignment 1 - The Hacker Rank

HackerRank is a place where programmers from all over the world come together to solve problems in a wide range of Computer Science domains.

As you solve more challenges, you earn points and move up the HackerRank Leaderboard.

Looking for a job at an awesome company? You can get hired by solving [challenges](https://www.hackerrank.com/jobs/search)!

It's cool. Let's establish your knowledge and fight for glory!

But before that let's make it clear that..

## Note-taking is IMPORTANT

Blog: [Why is note-taking important](https://nickblackbourn.com/blog/why-is-note-taking-important/)

Note taking isn’t just important for college students, it’s a valuable life skill.

Effective note taking helps you to remember information and aids your understanding of that information. 

**Notes boost your understanding**

By making notes, you force yourself to construct a conceptual mental representation of the ideas you are grappling with. It is this process that helps you comprehend the subject matter you are working with.

**Notes are a repository of your thinking**

When you need to recall something that you came across a while ago, you can go over the main ideas by looking over your notes. This is why good, comprehensive notes are so useful; they are a catalogue of the best ideas you’ve encountered, and what you thought about them.

etc.

## Requirements

Pick 10 challenges on HackerRank about SQL and 5 about Python in **easy** level:

[HackerRank - Domain SQL](https://www.hackerrank.com/domains/sql?filters%5Bdifficulty%5D%5B%5D=easy&filters%5Bsubdomains%5D%5B%5D=select)

[HackerRank - Domain Python](https://www.hackerrank.com/domains/python?filters%5Bdifficulty%5D%5B%5D=easy)

For each challenge:

* Create a markdown cell first that describes the challenge.
* Solve the challenge on HackerRank and copy your solution to a code cell below
* (Optional) A short description about how you came up with the solution would be awesome.

## Example

### SQL


#### Problem 1

Query all columns for all American cities in **CITY** with populations larger than 100000. The CountryCode for America is USA.

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
# Solution
# SELECT * from city WHERE population>100000 AND countrycode='USA';

**Problem 1**
Query the names of all American cities in **CITY** with populations larger than 120000. The CountryCode for America is USA.

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
select name from city where population>120000 and countrycode='USA' ;

**Problem 2**

Query all columns (attributes) for every row in the CITY table.

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
select * from city;

**Problem 3**

Query all columns for a city in CITY with the ID 1661.

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
select * from city where id='1661'

**Problem 4**

Query all attributes of every Japanese city in the CITY table. The COUNTRYCODE for Japan is JPN.

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
select * from city where countrycode='JPN';

**Problem 5**

Query the names of all the Japanese cities in the CITY table. The COUNTRYCODE for Japan is JPN.

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
select name from city where countrycode='JPN';

**Problem 6**

Query a list of CITY and STATE from the STATION table.

**Input Format**

The **STATION** table is described as follows:
          **STATION**
          
          
| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| CITY | VARCHAR2(21) |
| STATE | VARCHAR2(2) |
| LAT_N | NUMBER |
| LONG_W | NUMBER |

In [0]:
SELECT city,state from station;

**Problem 7**

Query a list of CITY names from STATION with even ID numbers only. You may print the results in any order, but must exclude duplicates from your answer.

**Input Format**

The **STATION** table is described as follows:
          **STATION**
          
          
| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| CITY | VARCHAR2(21) |
| STATE | VARCHAR2(2) |
| LAT_N | NUMBER |
| LONG_W | NUMBER |

In [0]:
select distinct(city) from station where mod(id,2)=0;

**Problem 8**

Let **N** be the number of CITY entries in STATION, and let **N'** be the number of distinct CITY names in STATION; query the value of **N-N'** from STATION. In other words, find the difference between the total number of CITY entries in the table and the number of distinct CITY entries in the table.

**Input Format**

The **STATION** table is described as follows:
          **STATION**
          
          
| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| CITY | VARCHAR2(21) |
| STATE | VARCHAR2(2) |
| LAT_N | NUMBER |
| LONG_W | NUMBER |

In [0]:
select count(city) -count(distinct(city)) from station;

**Problem 9**

Query the two cities in STATION with the shortest and longest CITY names, as well as their respective lengths (i.e.: number of characters in the name). If there is more than one smallest or largest city, choose the one that comes first when ordered alphabetically.

**Input Format**

The **STATION** table is described as follows:
          **STATION**
          
          
| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| CITY | VARCHAR2(21) |
| STATE | VARCHAR2(2) |
| LAT_N | NUMBER |
| LONG_W | NUMBER |

In [0]:
select * from(select city ,length(city) from station order by length(city) asc,city) where rownum=1;
select * from(select city ,length(city) from station order by length(city) desc,city) where rownum=1;

**Problem 10**

Query the list of CITY names starting with vowels (i.e., a, e, i, o, or u) from STATION. Your result cannot contain duplicates.

**Input Format**

The **STATION** table is described as follows:
          **STATION**
          
          
| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| CITY | VARCHAR2(21) |
| STATE | VARCHAR2(2) |
| LAT_N | NUMBER |
| LONG_W | NUMBER |

In [0]:
select distinct(city) from station where lower(substr(city,1,1))='a'or 
lower(substr(city,1,1))='e' or
lower(substr(city,1,1))='i' or
lower(substr(city,1,1))='u' or 
lower(substr(city,1,1))='o';

### Python

#### Problem 1

**Task** 
Given an integer, , perform the following conditional actions:

* If `n` is odd, print *Weird*
* If `n` is even and in the inclusive range of 2 to 5, print *Not Weird*
* If `n` is even and in the inclusive range of 6 to 20, print *Weird*
* If `n` is even and greater than 20, print *Not Weird*

**Input Format**

A single line containing a positive integer, .

**Output Format**

Print Weird if the number is weird; otherwise, print Not Weird.

In [0]:
n = int(input())

if n % 2 == 1:
    print('Weird')
else:
    if (n >= 2) and (n <= 5):
        print('Not Weird')
    elif (n >= 6) and (n <= 20):
        print('Weird')
    else:
        print('Not Weird')

## Your turn

Good luck and have fun!

#### Problem 1

**Task** 

In this challenge, you will be given **2** integers,**n** and **m** . There are **n** words, which might repeat, in word group **A**. There are **m** words belonging to word group **B**. For each **m** words, check whether the word has appeared in group **A** or not. Print the indices of each occurrence of **m** in group **A**. If it does not appear, print **-1**.

**Constraints**

1<=n<=10000

1<=m<=100

1<=length of each word in the input<=100

**Input Format**

The first line contains integers,**n** and **m** separated by a space.

The next **n** lines contains the words belonging to group **A**

The next **m** lines contains the words belonging to group **B**.

**Output Format**

Output **m** lines.
The **ith** line should contain the **1** -indexed positions of the occurrences of the **ith** word separated by spaces.

In [0]:
from collections import defaultdict
d=defaultdict(list)
n,m=input().split()
n=int(n)
m=int(m)
for i in range(n):
  t=input()
  d[t].append(i+1)
for i in range(m):
  t=input()
  ans=""
  if(t not in d):
    print(-1)
  else:
    for index in d[t]:
      ans+=str(index)+" "
    print(ans)

#### Problem 2

**Task** 

Read in two integers,**a** and **b** , and print three lines.
The first line is the integer division **a//b** (While using Python2 remember to import division from __future__).

The second line is the result of the modulo operator:**a%b** .
The third line prints the divmod of **a** and **b**. 

**Input Format**

The first line contains the first integer **a**, , and the second line contains the second integer **b**, .


**Output Format**

Print the result as described above.

In [0]:
a=int(input())
b=int(input())
print(a//b)
print(a%b)
print("("+str(a//b)+", "+str(a%b)+")")

#### Problem 3

**Task** 

You are given three integers:**a** ,**b** , and **c**, respectively. Print two lines.
The first line should print the result of pow(a,b). The second line should print the result of pow(a,b,m).  

**Input Format**

The first line contains **a**, the second line contains **b**, and the third line contains **m** 


**Output Format**

Print the result as described above.

In [0]:
def powhere(a,b):
    result=1
    for i in range(b):
        result*=a
    return result
a=int(input())
b=int(input())
c=int(input())
ans=powhere(a,b)
print(ans)
print(ans%c)

#### Problem 4

**Task** 

Read two integers from STDIN and print three lines where:

    1/The first line contains the sum of the two numbers.
    2/The second line contains the difference of the two numbers (first - second).
    3/The third line contains the product of the two numbers.
    
**Input Format**

The first line contains the first integer,**a**
. The second line contains the second integer, **b** . 

**Output Format**

Print the three lines as explained above.

In [0]:
a=int(input())
b=int(input())
print(a+b)
print(a-b)
print(a*b)

#### Problem 5


**Task** 

You are given a string and your task is to swap cases. In other words, convert all lowercase letters to uppercase letters and vice versa.
    
**Input Format**

A single line containing a string **S**. 

**Output Format**

Print the modified string **S**.

In [0]:
def swap_case(s):
    tmp=list(s)
    for i in range(len(tmp)):
        if(tmp[i].islower()):
            tmp[i]=tmp[i].upper()
        else:
            tmp[i]=tmp[i].lower()
    ans=''.join(tmp)
    return ans